body {
  width: 100%;
  height: 100vh;
  background: #f4f4f9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background 0.3s, color 0.3s;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

#themeToggle {
  color: black;
  background-color: white;
  border: 2px solid black;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: 0.3s;
}

#themeToggle:hover {
  opacity: 0.8;
}

.stopwatch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
 height: 100vh; 
}

.Stopwatch-container {
  max-width: 1440px;
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 60%;
   margin: auto;   
  padding-top: 2rem;
  transition: background 0.3s, color 0.3s;
}




.display-number {
  margin-top: 10px;
  font-size: 5.5rem;
  margin-bottom: 3rem;
  font-weight: lighter;
  color: #222;
  letter-spacing: 2px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

button {
  width: 100px;
  height: 100px;
  font-size: 1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}

.start {
  background: #4caf50;
  color: white;
}

.stop {
  background: #f44336;
  color: white;
}

.lap,
.reset {
  background: #2196f3;
  color: white;
}

.laps {
  margin-top: 2rem;
  text-align: left;
  max-height: 200px;
  overflow-y: auto;
  font-size: 1.1rem;
  border-top: 1px solid #ddd;
  margin: 2rem 35px;
  padding-top: 15px;
}

.laps div {
  padding: 7px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.lap-item:first-child {
  color: #50ce54;
}
.lap-item:last-child {
  color: #fa1606ff;
}

.lap-item span:last-child {
  font-family: monospace;
}

/* Dark Mode */

body.dark {
  background: #1e1e1e;
  color: #f9f9f9;
}

body.dark .Stopwatch-container {
  background: #2c2c2c;
  color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

body.dark #themeToggle {
  background: #ddd;
  color: #222;
}

body.dark .display-number {
  color: #fff;
}

@media (max-width: 767px) {
  .Stopwatch-container {
    width: 90%;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
  }

  .display-number {
    font-size: 2.8rem;
  }

  button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 0.8rem;
  }

  body.dark .Stopwatch-container {
    background: transparent;
    box-shadow: none;
  }

  .laps {
    margin: 2rem 10px;
    font-size: 0.9rem;
  }

  #themeToggle {
  width: 80px;
  height: 30px;
  border-radius: 50px;
  font-size: 0.7rem;
}
}
